html,
body {
  height: 100%;
}

body {
  background-color: #1b1b1b;
}

.nav-bg {
  background-color: #242424;
}

.page-header {
  box-shadow: 0 0rem 0.4rem rgba(0, 0, 0, 0.5) !important;
  position: relative;
}

.page-content {
  background-color: #242424;
  height: calc(100% - 56px) !important;
  color: #999999;
}

.user-pp {
  display: block;
  background-color: #212121;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.dropdown-dark {
  background-color: #242424;
  color: #999999;
}

.dropdown-dark .dropdown-item {
  color: #999999;
}

.dropdown-dark .dropdown-item:hover {
  background-color: #313131;
}