html,
body {
  height: 100%;
}

body {
  background-color: #1b1b1b;
}

.nav-bg {
  background-color: #242424;
}

.page-header {
  box-shadow: 0 0rem 0.4rem rgba(0, 0, 0, 0.5) !important;
  position: relative;
}

.page-content {
  background-color: #242424;
  height: calc(100% - 56px) !important;
  color: #999999;
}

.user-pp {
  display: block;
  background-color: #212121;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.dropdown-dark {
  background-color: #242424;
  color: #999999;
}

.dropdown-dark .dropdown-item {
  color: #999999;
}

.dropdown-dark .dropdown-item:hover {
  background-color: #313131;
}

.category-list {
  background-color: #1B1B1B;
  border-radius: 10px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.category-list .list-group {
  border-radius: 0;
}

.category-list .list-group-item {
  background-color: inherit;
  border-width: 0 0 1px !important;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0;
  color: rgba(255, 255, 255, 0.4);
}

.category-list .list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.signin-page {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: #999999;
}

.form-control {
  background-color:rgba(0, 0, 0, 0.5);
  border: #1B1B1B;
  color: #999999;
}

.form-control:focus {
  background-color:rgba(0, 0, 0, 0.5);
  border: #1B1B1B;
  color: #999999;
}

.alert-danger {
  background-color:#C00E2D;
  border: none;
  color: white;
}