html,
body {
  height: 100%;
}

body {
  background-color: #1b1b1b;
}

.nav-bg {
  background-color: #242424;
}

.page-header {
  box-shadow: 0 0rem 0.4rem rgba(0, 0, 0, 0.5) !important;
  position: relative;
}

.page-content {
  background-color: #242424;
  height: calc(100% - 56px) !important;
  color: #999999;
}

.user-pp {
  display: block;
  background-color: #212121;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.dropdown-dark {
  background-color: #242424;
  color: #999999;
}

.dropdown-dark .dropdown-item {
  color: #999999;
}

.dropdown-dark .dropdown-item:hover {
  background-color: #313131;
}

.category-list {
  background-color: #1B1B1B;
  border-radius: 10px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.category-list .list-group {
  border-radius: 0;
}

.category-list .list-group-item {
  background-color: inherit;
  border-width: 0 0 1px !important;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0;
  color: rgba(255, 255, 255, 0.4);
}

.category-list .list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.signin-page {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: #999999;
}

.form-control {
  background-color:rgba(0, 0, 0, 0.5);
  border: #1B1B1B;
  color: #999999;
}

.form-control:focus {
  background-color:rgba(0, 0, 0, 0.5);
  border: #1B1B1B;
  color: #999999;
}

.alert-danger {
  background-color:#C00E2D;
  border: none;
  color: white;
}

.table-lunar {
  --bs-table-color: #cecece;
  --bs-table-bg: #1B1B1B;
  --bs-table-border-color: #373b3e;
  --bs-table-striped-bg: #212121;
  --bs-table-striped-color: #cecece;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #cecece;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #cecece;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.text-almost-white {
  color: #cecece;
}

.modal-content {
  --bs-modal-bg: #1B1B1B;
  --bs-modal-header-border-color: #2b2b2b;
  --bs-modal-footer-border-color: #2b2b2b;
  --bs-modal-color: #999999;
}

.btn-lunar {
  --bs-btn-color: #fff;
  --bs-btn-bg: #292929;
  --bs-btn-border-color: #292929;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #242424;
  --bs-btn-hover-border-color: #242424;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #212121;
  --bs-btn-active-border-color: #212121;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #292929;
  --bs-btn-disabled-border-color: #292929;
}