{% extends 'blogbase.html' %}

{% block title %}Blog{% endblock %}

{% block pagecontent %}
<div class="row px-2" style="height: 100%">
  <div class="col-12 col-lg-9">
  </div>
  <div class="col-12 col-lg-3 d-none d-lg-block category-list p-0">
    <h5 class="mt-2 ms-3">Categories</h5>
    <hr class="my-0">
    <ul class="list-group">
      {% for category in categories %}
      <a class="list-group-item" href="/category/{% print category.id %}">{% print category.name %}</a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}