{% extends 'blogbase.html' %}

{% block title %}{% print post.title %} - LunarBlog{% endblock %}

{% block pagecontent %}
<div class="row px-2 h-100">
  <div class="col-12 col-lg-9 h-100">
    <div class="post-container px-2">
      {% include 'components/post.html' %}
      {% if accountObj != None %}
      {% include 'components/newcomment.html' %}
      {% for comment in comments %}
      {% include 'components/comment.html' %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="col-12 col-lg-3 d-none d-lg-block category-list p-0">
    <h5 class="mt-2 ms-3">Categories</h5>
    <hr class="my-0">
    <ul class="list-group">
      {% for category in categories %}
      <a class="list-group-item" href="/category?id={% print category.id %}">{% print category.name %}</a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}